``` css
.grid {
  /* Set the display property to grid, this is mandatory */
  display: grid;
  
  /* Divide this grid container into 4 columns each one is 25% */
  grid-template-columns: 25% 25% 25% 25%;
  
  /* Create a one row and set the height be 100vh */
  grid-template-rows: 100vh;
}
```