*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2; }

.box {
  color: #fff;
  padding: 1em;
  text-align: center; }

input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: 1px solid #f2f2f2; }

.message-list {
  margin: 0;
  padding: 0; }

.message-list li {
  padding: .2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f2f2f2; }

.slack-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 250px 1fr;
  grid-template-rows: auto 1fr auto; }

.header {
  background-color: #ffffff; }

.teams {
  background-color: #362233; }

.channels {
  background-color: #52364E; }

.messages {
  background-color: #ffffff; }

.write {
  background-color: #f2f2f2; }

.header {
  grid-column: 3;
  grid-row: 1;
  color: #333;
  border-bottom: 1px solid #f2f2f2; }

.teams {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: span 3; }

.channels {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: span 3; }

.messages {
  grid-column: 3;
  grid-row: 2;
  padding: 0 1em;
  overflow-y: scroll; }

.message-input {
  grid-column: 3;
  grid-row: 3; }
