body { margin: 0; font-family: Arial; }

.box {
  color: #fff;
  padding: 1em;
  border: 1px solid #fff;
  text-align: center;
}

.tweets   { background-color: #A2DED0; }
.replies  { background-color: #F4D03F; }
.search   { background-color: #6C7A89; }
.messages { background-color: #59ABE3; }

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100vh;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh;
  }

  .messages { grid-column: 1; grid-row: 1; }
}